body{
      align-items: center;
      justify-content: center;
      padding: 10%;
      font-size: 15px;
      font-family: inter, sans-serif;
}

#grid-container{
      display: grid;
      grid-template-rows: 1fr 3fr 2fr;
      grid-template-columns: 2fr 1fr;
      gap: 20px;
}

.logo-and-menu{
      display: flex;
      align-items: center;
      justify-content: center;
      grid-column: span 2;
}

.logo{
      justify-content: left;
      width: 50%;
}

.menu{
      justify-content: right;
      width: 50%;
      display: flex;
      justify-content: space-around;
}

.title .link{
      color: white;
}

.link{
      color: black;
      text-decoration: none;

}

.link:hover{
      color: hsl(35, 77%, 62%);
}

.first-article{
      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.first-image{
      grid-column: span 2;
}

.first-image > img{
      width: 100%;
}

.first-article-title{
      font-weight: 900;
      font-size: 4.5rem;
      text-align: left;
      padding-top: 20px;
}

.first-article-content{
      padding-left: 30px;
      padding-top:  20px;
      text-align: left;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
}

.first-article-content a{
      width: 50%;
}

.black-button{
      display: block;
      text-align: center;
      background-color: black;
      color: white;
      padding: 10px;
}

a > .black-button{
      color: white;
      font-weight: bolder;
      text-decoration: none;
}

a .black-button:hover{
      color: black;
      text-decoration: none;
      background-color: hsl(5, 85%, 63%);
}

.black-box{
      background-color: black;
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 20px;
}

.black-box .title{
      font-size: 1rem;
      font-weight: 900;
}

.black-box > .title{
      font-size: 2rem;
      font-weight: 900;
}

.black-box .article{
      padding-top: 20%;
      padding-bottom: 20%;
      font-weight: lighter;
      align-items: center;
      flex: 1;
}

.black-box span{
      font-size: 1.5rem;
}

.bottom-section{
      grid-column: span 2;
      display: flex;
      justify-content: center;
      align-items: stretch;
      padding-top: 50px;
}

span.article-number{
      font-size: 2rem;
      color: hsl(35, 77%, 62%);
      font-weight: 900;       
}

.article.middle{
      border-top: 1px solid white;
      border-bottom: 1px solid white;
}

.bottom-section .article{
      display: flex;
}

.bottom-section .text{
      padding: 10px;
      align-items: center;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}

.attribution a:hover {
      color: hsl(35, 77%, 62%);
      text-decoration: none;
    }

@media (max-width: 1000px){
      
      #grid-container{
            display: flex;
            flex-direction: column;
      }
      
      .menu{
            width: 100%;
      }

      .first-article{
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 10px;
      }

      .first-article-content{
            padding-left: 0;
            gap: 20px;
      }

      .black-box{
            flex: 1;
            padding: 20px;
            gap:20px;
      }

      .bottom-section{
            display: flex;
            flex-direction: column;
            gap: 20px;
      }
}
